/********** Template CSS **********/
:root {
    --primary: #a41c0f;
    /* FD5D14 */
    --secondary: #FDBE33;
    --light: #F4F6F8;
    --dark: #000000;
}



.pt-6 {
    padding-top: 90px;
}

.pb-6 {
    padding-bottom: 90px;
}

.py-6 {
    padding-top: 90px;
    padding-bottom: 90px;
}
.pyaxis-6{
    padding-top: 40px;
    padding-bottom: 40px;
}
.mxaxis-1{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.btn {
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    transition: .5s;
}

.btn::after {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    bottom: -1px;
    left: 50%;
    background: var(--primary);
    transition: .5s;
}

.btn.btn-primary::after {
    background: var(--dark);
}

.btn:hover::after,
.btn.active::after {
    width: 50%;
    left: 25%;
}

.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    left: 50%;
    bottom: 0;
    margin-left: -22px;
    border-radius: 0;
    z-index: 99;
}

/* .bg-dark-radial {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
} */

/* .bg-light-radial {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(256, 256, 256, 0.2), rgba(256, 256, 256, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
} */

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    padding: 35px 15px;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--light);
    outline: none;
    transition: .5s;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        margin-left: 0;
        padding: 10px 0;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(4, 15, 40, .7);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h4 {
        font-size: 18px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.page-header {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(4, 15, 40, .7), rgba(4, 15, 40, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.service-item .service-icon {
    margin-top: -50px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.service-item .service-icon i {
    transition: .2s;
}

.service-item:hover .service-icon i {
    font-size: 60px;
}

.portfolio-item {
    margin-bottom: 60px;
}

.portfolio-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 120px;
    padding: 0 30px;
    right: 30px;
    left: 30px;
    bottom: -60px;
    background: #FFFFFF;
    z-index: 3;
}

.portfolio-btn {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    font-size: 120px;
    line-height: 0;
    transition: .1s;
    transition-delay: .3s;
    z-index: 2;
    opacity: 0;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
}

.portfolio-box::before,
.portfolio-box::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    transition: .5s;
    z-index: 1;
    background: rgba(4, 15, 40, .7);
}

.portfolio-box::before {
    left: 0;
}

.portfolio-box::after {
    right: 0;
}

.portfolio-item:hover .portfolio-box::before {
    left: 0;
    width: 50%;
}

.portfolio-item:hover .portfolio-box::after {
    right: 0;
    width: 50%;
}

@media (min-width: 992px) {
    .testimonial,
    .contact-form {
        margin-left: -90px;
    }
}

@media (min-width: 992px) {
    .footer::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        top: 0;
        left: 50%;
        background: var(--primary)
    }
}

.footer-shape::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 100%;
    top: 0;
    left: -40px;
    background: var(--primary);
    transform: skew(40deg);
}

/* home page */
.company-title{

}
.main-container{
    display: flex !important;
    flex-direction: row  ;
    width: 100%;
    padding: 0 ;
    
}

.image-container {
    position: relative;
    width: 25%;
    height: 100%;
    overflow: hidden;
    /* text-align: center; */
    box-shadow:  0 0 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 6px rgba(0, 0, 0, 0.19);
    
}
.image-container:hover{
    text-align: left;
    width:45%;

    .company{
        visibility: hidden;
    }
    .company-brief{
        visibility: visible;
        position: absolute;
        color: white;
        top: 80%;
        left: 40%;
        /* transform: translate(-50%, -50%); */
        
    }
}

.image-container img {
    width: 600px;
    height: 700px;
    object-fit: cover;
    box-shadow: 10px;
}
 .company {
    position: absolute;
    top: 70%;
    left: 40%;
    width: 5rem;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    border-left: 0.25rem solid green;
    h3{
         color: white;
         width: 5rem;
         text-align: right ;
         text-shadow: 2px 2px #151515;
         
    font-family: gotham-boldgotham-bold, sans-serif;
    }
}
.company-brief{
    visibility: hidden;
    position: absolute;
    height: fit-content;
    width: fit-content;
    padding: 2rem 2rem 0rem 2rem;
    margin-top: 2rem;
    color: white;
    background-color: rgba(0,0,0,.5);
    /* top: 80%;
    left: 40%; */
    transform: translate(-50%, -50%);
    h3{
        color: #F4F6F8;
        font-weight: bold;
        z-index: 2;
    }
}

@media only screen and (max-width: 480px) {
    .company-title{
        padding-top: 0.75rem;
    }
.main-container{
    flex-direction: column;
}
.image-container{
    width: 100%;
    height: 15rem;
    text-align: left;
}.image-container:hover{
    height: 15rem;
    img{
        height: 15rem;
    }
}
.image-container img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    box-shadow: 10px;
}
.company{
    visibility: hidden;

}
.company-brief{
    visibility: visible;
    margin:3rem 0.5rem 0rem 2rem !important;
    top: 30%;
    left:50%;
}
.image-container:hover{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    box-shadow: 10px;
    text-align: left;
    .company-brief{
        visibility: visible;
        margin:3rem 0.5rem 0rem 2rem !important ;
        top: 30% !important;
        left:30% !important;
    }

}
}
@media only screen and (max-width: 768px) {
    .company-title{
        padding-top: 0.75rem;
    }
.main-container{
    flex-direction: column;
}
.image-container{
    width: 100%;
    height: 15rem;
    text-align: left;
}
.image-container img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    box-shadow: 10px;
}
.image-container:hover{
    width: 100%;
    height: 15rem;
    text-align: left;
    img{
        width: 100%;
        height: 15rem;
        object-fit: cover;
        box-shadow: 10px;
    }
}
.company{
    visibility: hidden;

}
.company-brief{
    visibility: visible;
    margin: 2rem 0.5rem 0rem 2rem;
    top: 30%;
    left:30%;
}
.image-container:hover{
    width: 100%;
    object-fit: cover;
    box-shadow: 10px;
    text-align: left;
    .company-brief{
        visibility: visible;
        margin-left: 2rem 0.5rem 0rem 2rem;
        top: 30%;
        left:30% ;
    }

}
}
/* home page - Slider */
.clients{
    padding: 0.5rem 0; 
    background-color: #306af1;
    color: white;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7)); }
  }
  
  .client-slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width:100%;
  }
  
  .slider::before,
  .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slide-track {
    animation: scroll 80s linear infinite;
    display: flex;
    width: calc(200px * 14);
  }
  
  .slide {
    height: 100px;
    width: 250px;
    padding-top: 0.5rem;
    img{
        object-fit: cover;
    }
  }

 
  
  #counter{
    text-align: center;
    display: flex;
    flex-wrap: column;
    align-items: center;
    justify-content: center;
    background: #e6e6e7;
    padding: 40px 0px;
    width: 100%;
  }
  
  #counter .item{
    /* background: #fff; */
    width: 15rem;
    height: 15rem;
    padding: 35px 40px;
    margin: 10px;
    text-align: center;
    /* border-radius: 20px;
    -webkit-box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.34);
  box-shadow: 0px 0px 38px -8px rgba(0,0,0,0.34); */
  } 
  #counter .item .count{
    color: #e8b12d;
    margin-bottom: 0.5rem;
    font-size: 40px;
  }
  #counter .item h3{
    color: #4f4e28;
    text-transform: capitalize;
  }
  @media only screen and (max-width: 768px) {
    #counter{
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        .item{
            height: 6rem;
            padding: 0;

        }
    }
  }
  
   .s-slider{
    width: 100%;
    position: relative;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #0000;
  }

  .slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
    
}
.slick-track:after
{
    
    clear: both;
    
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: fit-content;
    min-height: 1px;
    padding-bottom: auto;
}

[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
  

  /* footer */
  .footer-left{
    display: flex;
    flex-direction: column;

  }
  .addresses{
    margin-top: 10px;
  }
  .address{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
  }
  @media only screen and (max-width: 768px) {
    .address{
        display: flex;
        flex-direction: column;
    }
    .social-links{
        display: none;
    }
    .quick-links{
        display: none;
    }
  }

  /* about page */

.about-container{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    .about-first{
        position: relative;
        width:20% ;
        height:100%;
         overflow: hidden;
        img{
            width: 100%;
            height: 700px;
            object-fit: cover;
        }

    }
    .about-second{
        position: relative;
        width: 60%;
        height: 100%;
        overflow: hidden;
        img{
            width: 100%;
            height: 700px;
            object-fit: cover;
        }
    }
    .about-third{
        position: relative;
        width: 20%;
        height: 100%;
        overflow: hidden;
        img{
            width: 100%;
            height: 700px;
            object-fit: cover;
        }
    }
}